#audio-player {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    align-items: center;
    background-color: #231f20ff;
    gap: 15px;
    padding: 10px 0 10px 1em;
}

#audio-player .control-button {
    width: 32px;
    height: 38px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px;
    padding: 2px;
    flex-shrink: 0;
}

#play_indicator {
    flex-shrink: 0;
    opacity: 0;
}

input#volume {
    margin-left: 1em;
    vertical-align: middle;
}